@{
    ViewData["Title"] = "Desktop Applications";
}

    <div class="text-center">

        <i class="fa fa-desktop fa-5x"></i>
        <h1 class="display-4">Desktop Applications</h1>
        <div class="text-center">
            <p>From Windows Applications that never see the internet to Linux Services that handle tons of incoming client connections, we'll keep you rolling!</p>
            <p>We engineer Windows desktop applications using Microsoft .NET with C# and C++ to ensure native compatibility.</p>
            <p>Through dotnetcore, we engineer Linux and OSX desktop applications to ensure that the full benefits and capabilities of the Cross Language Runtime are accessed.</p>
        </div>

    </div>
