@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <div class="text-center">
            <a asp-area="" asp-controller="Home" asp-action="Desktop">
                <i class="fa fa-desktop fa-5x"></i>
                <h5 class="display-4">Desktop Applications</h5>
            </a>
            <p>From Windows Applications that never see the internet to Linux Services that handle tons of incoming client connections, we'll keep you rolling!</p>
        </div>
        <div class="text-center">
            <a asp-area="" asp-controller="Home" asp-action="Mobile">
                <i class="fa fa-mobile fa-5x"></i>
                <h5 class="display-4">Mobile Applications</h5>
            </a>
            <p>With Android and iOS, there's an app for that... and if there isn't, we can make an app for that!</p>
        </div>
        <div class="text-center">
            <a asp-area="" asp-controller="Home" asp-action="Web">
                <i class="fa fa-cloud fa-5x"></i>
                <h5 class="display-4">Web Applications</h5>
            </a>
            <p>Whether you need a REST API that that your users can consume or something simple with a single page, we got you covered!</p>
        </div>
        <partial name="_Contact" />
    </div>
