@{
    ViewData["Title"] = "";
}

<div class="text-center">

    <!--About-->
    <div>

        <h4>Balanced Solutions Software, Inc. is a computer software company headquartered in Ocala, FL.</h4>
        <br />
        <h4>We specialize in engineering mobile applications for Android and iOS.</h4>
        <br />
        <h4>We also provide support for hosting your domains, websites and email accounts.</h4>

    </div>

    <hr />

    <!--Services-->
    <div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel_title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#services">
                            <i class="fa fa-code fa-5x"></i>
                            <h5 class="display-4">Services</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="services" class="panel-collapse collapse in">
            <div class="panel-body">
                <br />
                <h4>Each of our solutions are customly handcrafted with an abundance of love and care.</h4>
                <br />
                <h4>We know that your success is our success so we take the time required to understand and build your dreams so that our dreams come true as well.</h4>
                <br />
                <h4><a asp-area="" asp-controller="Home" asp-action="Services">Learn More</a></h4>
                <br />
            </div>
        </div>

    </div>

    <hr />

    <!--Projects-->
    <div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel_title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#projects">
                            <i class="fa fa-project-diagram fa-5x"></i>
                            <h5 class="display-4">Projects</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="projects" class="panel-collapse collapse in">
            <div class="panel-body">
                <br />
                <h4></h4>
                <br />
                <h4></h4>
                <br />
                <h4><a asp-area="" asp-controller="Home" asp-action="Projects">Learn More</a></h4>
                <br />
            </div>
        </div>

    </div>

</div>
