@{
    ViewData["Title"] = "Mobile Applications";
}

    <div class="text-center">
        <i class="fa fa-mobile fa-5x"></i>
        <h1 class="display-4">Mobile Applications</h1>
        <h2>Starting at $5000.00</h2>
        <div class="text-center">
            <p>With Android and iOS, there's an app for that... and if there isn't, we can make an app for that!</p>
            <p>We use Xamarin to build our mobile applications because your app can be written once and deployed for Android and/or iOS devices.</p>
            <p>By using the Model View ViewModel Controller pattern, we can organize and present data in a visually dynamic fashion.</p>
        </div>
    </div>
