@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p>If we are collecting your data, we keep it safe. We are not giving it away or selling it.</p>
<p>Your privacy is important to us.</p>