@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">

    <!--NCFLDA-->
    <div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel_title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#ncflda">
                            <i class="fa fa-id-card fa-5x"></i>
                            <h5 class="display-4">North Central Florida Driving Academy</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="ncflda" class="panel-collapse collapse in">
            <div class="panel-body">
                <br />
                <h4>North Central Florida Driving Academy is a driving school located in Ocala, FL.</h4>
                <br />
                <h4><a href="https://ncflda.com">https://ncflda.com</a></h4>
                <br />
                <h4>
                    <img class="img-fluid" src="~/images/projects/ncflda.png" />
                </h4>
                <br />
            </div>
        </div>

    </div>

    <hr />

    <!--Mugs-->
    <div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel_title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#mugs">
                            <i class="fa fa-mug-hot fa-5x"></i>
                            <h5 class="display-4">Mugs</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="mugs" class="panel-collapse collapse in">
            <div class="panel-body">
                <br />
                <h4>
                    Mugs was a mobile application that displayed booking data on incarcerated persons.
                </h4>
                <br />
                <h4>
                    <img class="img-fluid" src="~/images/projects/mugs1.png" />
                    <img class="img-fluid" src="~/images/projects/mugs2.png" />
                    <img class="img-fluid" src="~/images/projects/mugs3.png" />
                </h4>
                <br />
            </div>
        </div>

    </div>

    <hr />

    <!--TTS-->
    <div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel_title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#tts">
                            <i class="fa fa-tree fa-5x"></i>
                            <h5 class="display-4">TreeTaskSharp</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="tts" class="panel-collapse collapse in">
            <div class="panel-body">
                <br />
                <h4>TreeTaskSharp is a library for prioritizing and executing large numbers of tasks.</h4>
                <br />
                <h4><a href="https://github.com/confessore/treetasksharp">https://github.com/confessore/treetasksharp</a></h4>
                <br />
                <h4>
                    <img class="img-fluid" src="~/images/projects/tts.png" />
                </h4>
                <br />
            </div>
        </div>

    </div>

    <hr />

    <!--NADLLI-->
    <div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel_title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#nadlli">
                            <i class="fa fa-syringe fa-5x"></i>
                            <h5 class="display-4">Not Another DLL Injector</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="nadlli" class="panel-collapse collapse in">
            <div class="panel-body">
                <br />
                <h4>Not Another DLL Injector is a simple, all purpose DLL injector for x64 and x86.</h4>
                <br />
                <h4><a href="https://github.com/confessore/nadlli">https://github.com/confessore/nadlli</a></h4>
                <br />
                <h4>
                    <img class="img-fluid" src="~/images/projects/nadlli.png" />
                </h4>
                <br />
            </div>
        </div>

    </div>

</div>
