@{
    ViewData["Title"] = "Projects";
}

    <div class="text-center">
        <i class="fa fa-mug-hot fa-5x"></i><i class="fa fa-mug-hot fa-5x"></i>
        <a href="https://play.google.com/store/apps/details?id=com.balasolu.mugs"><h5 class="display-4">Mugs (Android)</h5></a>
        <p>Scroll through or search for the mugshots of inmates booked in select cities like Ocala, Florida!</p>
        <p>Bookings are available as they are published in over 20 cities.</p>
        <p>Check out the store page to discover what cities are available.</p>
    </div>
    <div class="text-center">
        <i class="fa fa-syringe fa-5x"></i><i class="fa fa-syringe fa-5x"></i>
        <a href="https://github.com/confessore/nadlli"><h5 class="display-4">NADLLI [Not Another DLL Injector]</h5></a>
        <p>A simple, all purpose DLL injector for x64 and x86.</p>
        <p>Fire it up, choose an active process as well as a library and then inject!</p>
        <p>Check out the GitHub repository to grab the source code and contribute to the project.</p>
    </div>
    <div class="text-center">
        <i class="fa fa-dragon fa-5x"></i><i class="fa fa-dragon fa-5x"></i>
        <a href="https://nashormatch.com"><h5 class="display-4">NashorMatch</h5></a>
        <p>Find players of similar skill and compose teams based on roles!</p>
        <p>Available for NA and EU West Servers.</p>
        <p>Check out the website to learn how to join a Discord server and how to use Minerva, the server bot.</p>
    </div>
    <div class="text-center">
        <i class="fa fa-robot fa-5x"></i><i class="fa fa-robot fa-5x"></i>
        <a href="https://github.com/confessore/zzukbot4"><h5 class="display-4">ZzukBot v4</h5></a>
        <p>A full featured robot that plays World of Warcraft v1.12.1!</p>
        <p>Available only for private servers.</p>
        <p>Check out the GitHub repository to grab the source code and contribute to the project.</p>
    </div><div class="text-center">
</div>