@{
    ViewData["Title"] = "Services";
}

<div class="text-center">

    <!--Hosting-->
    <div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel_title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#hosting">
                            <i class="fa fa-database fa-5x"></i>
                            <h5 class="display-4">Essential Hosting & Management Package</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="hosting" class="panel-collapse collapse in">
            <div class="panel-body">
                <br />
                <h6>Starting at just $75</h6>
                <br />
                <h4>We will host and fully manage your domains, websites and email accounts!</h4>
                <br />
                <h4>Pricing is based on a general maintenance fee, the number of domains, websites and email accounts that are hosted as well as traffic volume.</h4>
                <br />
                <h4>This service is charged for on a recurring basis.</h4>
                <br />
                <h4><a asp-area="" asp-controller="Home" asp-action="Hosting">Learn More</a></h4>
                <br />
            </div>
        </div>

    </div>

    <hr />

    <!--Support-->
    <div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel_title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#support">
                            <i class="fa fa-life-ring fa-5x"></i>
                            <h5 class="display-4">Premier Home & Business IT Support</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="support" class="panel-collapse collapse in">
            <div class="panel-body">
                <br />
                <h6>Starting at just $65</h6>
                <br />
                <h4>We will provide technical support for your new and existing computer equipment!</h4>
                <br />
                <h4>Pricing is based on a flat rate service fee plus the cost of any necessary parts.</h4>
                <br />
                <h4>We will also perform many services in your home or at your place of business for an additional $35.</h4>
                <br />
                <h4><a asp-area="" asp-controller="Home" asp-action="Support">Learn More</a></h4>
                <br />
            </div>
        </div>

    </div>

    <hr />

    <!--Website-->
    <div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel_title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#website">
                            <i class="fa fa-sitemap fa-5x"></i>
                            <h5 class="display-4">Basic Websites</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="website" class="panel-collapse collapse in">
            <div class="panel-body">
                <br />
                <h6>Starting at just $250</h6>
                <br />
                <h4>We will engineer your websites!</h4>
                <br />
                <h4>Pricing is based on an initial startup fee, the complexity of the project, types of features desired, necessary technologies and the labor required for delivery.</h4>
                <br />
                <h4>Hosting is not included with this product.</h4>
                <br />
                <h4><a asp-area="" asp-controller="Home" asp-action="Website">Learn More</a></h4>
                <br />
            </div>
        </div>

    </div>

    <hr />

    <!--Mobile-->
    <div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel_title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#mobile">
                            <i class="fa fa-mobile fa-5x"></i>
                            <h5 class="display-4">Mobile Applications</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="mobile" class="panel-collapse collapse in">
            <div class="panel-body">
                <br />
                <h6>Starting at just $5000</h6>
                <br />
                <h4>We will engineer your mobile applications!</h4>
                <br />
                <h4>Pricing is based on an initial startup fee, the complexity of the project, types of features desired, necessary technologies and the labor required for delivery.</h4>
                <br />
                <h4>Hosting is not included with this product.</h4>
                <br />
                <h4><a asp-area="" asp-controller="Home" asp-action="Mobile">Learn More</a></h4>
                <br />
            </div>
        </div>

    </div>

    <hr />

    <!--Web-->
    <div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel_title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#web">
                            <i class="fa fa-cloud fa-5x"></i>
                            <h5 class="display-4">Web Applications</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="web" class="panel-collapse collapse in">
            <div class="panel-body">
                <br />
                <h6> Starting at just $5000</h6>
                <br />
                <h4>We will engineer your web applications!</h4>
                <br />
                <h4>Pricing is based on an initial startup fee, the complexity of the project, types of features desired, necessary technologies and the labor required for delivery.</h4>
                <br />
                <h4>Hosting is not included with this product.</h4>
                <br />
                <h4><a asp-area="" asp-controller="Home" asp-action="Web">Learn More</a></h4>
                <br />
            </div>
        </div>

    </div>

    <hr />

    <!--Server-->
    <div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel_title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#server">
                            <i class="fa fa-server fa-5x"></i>
                            <h5 class="display-4">Server Applications</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="server" class="panel-collapse collapse in">
            <div class="panel-body">
                <br />
                <h6>Starting at just $2500</h6>
                <br />
                <h4>We will engineer your server applications!</h4>
                <br />
                <h4>Pricing is based on an initial startup fee, the complexity of the project, types of features desired, necessary technologies and the labor required for delivery.</h4>
                <br />
                <h4>Hosting is not included with this product.</h4>
                <br />
                <h4><a asp-area="" asp-controller="Home" asp-action="Server">Learn More</a></h4>
                <br />
            </div>
        </div>

    </div>

    <hr />

    <!--Desktop-->
    <div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel_title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#desktop">
                            <i class="fa fa-desktop fa-5x"></i>
                            <h5 class="display-4">Desktop Applications</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="desktop" class="panel-collapse collapse in">
            <div class="panel-body">
                <br />
                <h6>Starting at just $2500</h6>
                <br />
                <h4>We will engineer your desktop applications!</h4>
                <br />
                <h4>Pricing is based on an initial startup fee, the complexity of the project, types of features desired, necessary technologies and the labor required for delivery.</h4>
                <br />
                <h4>Hosting is not included with this product.</h4>
                <br />
                <h4><a asp-area="" asp-controller="Home" asp-action="Desktop">Learn More</a></h4>
                <br />
            </div>
        </div>

    </div>

</div>
