@{
    ViewData["Title"] = "Web Applications";
}

    <div class="text-center">
        <i class="fa fa-cloud fa-5x"></i>
        <h1 class="display-4">Web Applications</h1>
        <div class="text-center">
            <p>Wether you need a REST API that that your users can consume or something simple with a single page, we got you covered!</p>
            <p>Pretty much anything you can imagine is possible because we build web applications using ASP.NET which is an enterprise grade technology.</p>
            <p>In addition to hosting with us, you'll be set up with an automatically renewing SSL certificate so that all traffic is secure traffic.</p>
        </div>
        <partial name="_Contact" />
    </div>
