<hr />

<div class="text-center">

    <div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel_title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#contact">
                            <i class="fa fa-phone fa-5x"></i>
                            <h5 class="display-4">Contact Us</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="contact" class="panel-collapse collapse in">
            <div class="panel-body">
                <p>Each of our solutions are customly handcrafted with an abundance of love and care.</p>
                <p>We know that your success is our success so we take time to understand and build your dreams so that our dreams come true as well.</p>
                <p>Start the conversation and let us know what your needs are so that we can provide you with a Balanced Solution!</p>
                <p>+1(352)234-3458</p>
            </div>
        </div>

    </div>

    <div>

        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    xfbml: true,
                    version: 'v10.0'
                });
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Your Chat Plugin code -->
        <div class="fb-customerchat"
             attribution="setup_tool"
             page_id="102578311978581">
        </div>

    </div>

</div>
