<hr />
<div class="text-center">
    <i class="fa fa-phone fa-5x"></i>
    <h5 class="display-4">Contact Us</h5>
    <p>Each of our solutions are customly handcrafted with an abundance of love and care.</p>
    <p>We know that your success is our success so we take time to understand and build your dream so that our dreams come true as well.</p>
    <p>Start the conversation and let us know what your needs are so that we can provide you with a Balanced Solution!</p>
    <h5 class="display-4">+1(352)342-4664</h5>
</div>
