<hr />

<div class="text-center">

    <!--General Contact-->
    <div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel_title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#contact">
                            <i class="fa fa-phone fa-5x"></i>
                            <h5 class="display-4">Contact Us</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="contact" class="panel-collapse collapse in">
            <div class="panel-body">
                <h4>+1(352)234-3458</h4>
                <br />
                <h4><a href="mailto:support@balasolu.com">support@balasolu.com</a></h4>
                <br />
                <h4><a href="https://facebook.com/balasolu"><i class="fab fa-facebook-square fa-5x"></i></a></h4>
                <br />
                <h4>1515 E Silver Springs Blvd, Suite 137</h4>
                <h4>Ocala, FL 34470</h4>
            </div>
        </div>

    </div>

    <!--Facebook Chat Plugin-->
    <div>

        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    xfbml: true,
                    version: 'v10.0'
                });
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Your Chat Plugin code -->
        <div class="fb-customerchat"
             attribution="setup_tool"
             page_id="102578311978581">
        </div>

    </div>

</div>
